doctype html
html
  head
    block head
      meta(charset='UTF-8')
      title Chart 

  
    a(href='//google.com' target="_blanc") Google 
    form(action='//google.com' target="_blanc")
      button Google
  //- svg(width="960" height="500")
  //- script(src="https://d3js.org/d3.v4.min.js" )
  
  script(src='/js/index.js' type='module' )
  svg(id='d3_demo')
  //- div(class="d3_fruit") 